@import "../../utils/colors.css";

.notification-container {
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
}

.top-right {
    top: 12px;
    right: 12px;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
}

.bottom-right {
    bottom: 12px;
    right: 12px;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
}

.top-left {
    top: 12px;
    left: 12px;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-left 0.7s;
}

.bottom-left {
    bottom: 12px;
    left: 12px;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-left 0.7s;
}

.notification-content {
    transition: 0.3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 30px;
    margin-bottom: 15px;
    width: 300px;
    max-height: 100px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px var(--grey1);
    opacity: 0.9;
    background-position: 15px;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.notification-content:hover {
    box-shadow: 0 0 12px var(--white);
    opacity: 1;
}

.notification-title {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 6px;
    width: 300px;
    height: 18px;
}

.notification-message {
    margin: 0;
    text-align: left;
    height: 18px;
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification-image {
    float: left;
    margin-right: 15px;
}

.notification-image svg {
    width: 30px;
    height: 30px;
}

.notification-image img {
    width: 30px;
    height: 30px;
}

.toast-item {
    width: 365px;
    padding: 15px 15px 15px 10px;
}

.logo-title-wrapper {
    display: flex;
    align-items: center;
}

.notification-container .img-close {
    position: relative;
    right: -10px;
    top: -10px;
    float: right;
    font-weight: 700;
    outline: none;
    border: none;
    text-shadow: 0 1px 0 var(--white);
    opacity: 0.8;
    line-height: 1;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.error {
    background-color: var(--error-bg);
    color: var(--error);
}

.success {
    background-color: var(--success-bg);
    color: var(--success);
}

.info {
    background-color: var(--info-bg);
    color: var(--info);
}

.warning {
    background-color: var(--warning-bg);
    color: var(--warning);
}

.error-filter {
}

.success-filter {
}

.info-filter {
}

.warning-filter {
}
