@import "../../utils/colors.css";

.dd-wrapper {
    width: 220px;
    font-size: 15px;
    user-select: none;
    position: relative;
}

.fullWidth {
    width: 100% !important;
}

.dd-header {
    color: var(--grey3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: 1px solid var(--grey1);
    border-radius: 8px;
    background-color: var(--white);
    line-height: 38px;
    cursor: pointer;
    padding: 5px;
    height: 35px;
}

.dd-header-title {
    height: 35px;
    font-weight: 300;
}

.dd-header-title-selected {
    color: var(--black);
}

.angle {
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
}

.dd-wrapper .dd-header .angle-down {
    transform: rotate(0deg);
    transition: all 0.3s ease-in;
}

.dd-wrapper .dd-header .angle-up {
    transform: rotate(180deg);
    transition: all 0.3s ease-in;
}

.dd-list-hide {
    max-height: 0px;
    transition: all 0.3s ease-out;
    overflow: hidden;
}

.dd-list-show {
    max-height: 215px;
    transition: all 0.3s ease-out;
    overflow-y: scroll;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid var(--grey-transparent);
    box-shadow: 0 2px 5px -1px var(--grey-transparent);
}

.dd-list {
    z-index: 10;
    border-top: none;
    border-radius: 8px;
    background-color: var(--white);
    text-align: left;
    font-weight: 200;
    position: absolute;
    width: inherit;
}

.dd-list-item {
    padding-inline: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid var(--grey0);
}

.dd-list-item:last-child {
    border-bottom: 0px;
}

.dd-list-item:hover {
    border-bottom: 0.5px solid var(--white);
    background-color: var(--primary);
    color: var(--white);
    transition: all 0.5s ease;
}

.dd-list-item:hover:last-child {
    border-bottom: 0px;
}

.dd-header-title .text-field {
    border-width: 0px;
    width: 100%;
    background-color: transparent;
    height: 20px;
}

.text-field:-webkit-autofill,
.text-field:-webkit-autofill:hover,
.text-field:-webkit-autofill:focus,
.text-field:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--white) inset !important;
}

.dd-empty-state {
    font-size: 10px;
    text-align: center;
}

.dd-empty-state:hover {
    background-color: transparent;
    color: var(--black);
}

.x-icon-multi-select {
    width: 15px;
    height: 15px;
}

.x-icon-multi-select:active {
   transform: scale(0.9);
}