@import "../../utils/colors.css";

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
}

.layout-container {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    justify-content: flex-start;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
