@import "../../../utils/colors.css";

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 78px;
    background: var(--grey4);
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.active {
    width: 300px;
}

.sidebar .logo-content .logo {
    color: var(--white);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    border-bottom: 0.5px solid var(--grey2);
}

.logo-content .logo img {
    width: 20px;
    height: 20px;
}

.logo-content .logo .logo-name {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 400;
}

.sidebar #back-btn {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.back-open {
    transform: rotate(-90deg);
    transition: all 0.3s ease-in;
}

.back {
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
}

.back-close {
    transform: rotate(90deg);
    transition: all 0.3s ease-in;
}

.sidebar ul {
    margin-top: 20px;
    padding-left: 0;
}

.sidebar li {
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a img {
    min-width: 30px;
    height: 30px;
    line-height: 50px;
}

.sidebar ul li .links-name {
    margin-left: 10px;
}

.sidebar ul li a {
    color: var(--white);
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    padding: 0 5px;
}

.sidebar ul li a:hover {
    background: var(--white);
    color: var(--grey4);
    border-radius: 8px;
}

.sidebar ul li .active {
    background: var(--white);
    color: var(--grey4);
    border-radius: 8px;
    width: 100%;
}

.footer-content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--white);
    padding: 10px 6px;
}
