@import "../../../utils/colors.css";
@import "~bootstrap/dist/css/bootstrap.css";

.main-content-container {
    flex-grow: 1;
    align-items: flex-start;
    padding: 20px;
    overflow: auto;
}

.content {
    padding: 2rem;
}

#content {
    padding: 20px;
    transition: all 0.3s;
    overflow-x: scroll;
}

.body-content {
    display: contents;
}
