@import "../../../utils/colors.css";
@import "~bootstrap/dist/css/bootstrap.css";

.container {
    flex-grow: 1;
    align-items: flex-start;
}

.content {
    padding: 2rem;
}

#content {
    padding: 20px;
    transition: all 0.3s;
    overflow-x: scroll;
}
