@import "../../utils/colors.css";

.table-paginator {
    position: relative;
}

.table-paginator .paginator {
    position: absolute;
    right: 0;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    margin: 0px auto;
}

.table-body tr:nth-of-type(odd) {
    background: var(--grey0);
}

.table-head {
    background: var(--primary);
    color: var(--white);
    font-weight: bold;
    height: 70px;
}

.table-body,
.table-head {
    border: 1px solid var(--grey1);
    text-align: left;
    font-size: 15px;
}

.table-head tr th {
    padding-left: 10px;
}

.table-body tr td {
    padding: 10px;
}

.table-head .options-row {
    height: 20px;
}

.table-head .options-row th {
    text-align: right;
}

.option-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.option-logo:active {
    transform: scale(0.9);
}

.content-render .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
